.landing{
  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgb(102, 66, 0), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url(http://fc02.deviantart.net/fs71/i/2011/274/6/f/ocean__sky__stars__and_you_by_muddymelly-d4bg1ub.png);
    }




.logo{
  margin-top:50px;
  margin-bottom: 90px;
  opacity: 0.8;
}

.login-button {
  position: relative;
  /* top: 50%; */
  left: 80px;
  /* right: 20%; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(82, 44, 0);
  color: rgb(230, 225, 225);
  font-size: 16px;
  padding: 16px 30px;
  border-color: rgb(82, 44, 0);
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 40px;
  /* margin-bottom:60px ; */
}

.login-button:hover {
  background-color: rgb(66, 36, 0);
  color: white;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
 
  .login-button{
  font-size: 13px;
  left: 70px;
  padding: 13px 27px;
  }
}

.landing-footer{
  color:rgb(197, 187, 187);
  text-align: center;
  padding-bottom: 2px;
}
